<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <script src="{{ url_for('static', filename='css/stylesheet.css') }}"></script> -->

    <title>Mission to Mars</title>
</head>

<body style="background-color: rgb(244, 143, 96);">
    <div class="container text-center">
        <h1 class="jumbotron" style="background-color: rgb(189, 108, 70);">Mission to Mars</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button"
                style="background-color: rgb(189, 108, 70); border-color: rgb(112, 63, 40);">Scrape New Data</a></p>
    </div>
    <div class="container news_info">
        <div class="row" style="padding-left: 16px" id="mars_news">
            <div style="border: 40px; border-color: rgb(112, 63, 40);">
                <h2>Latest Mars News:</h2>
                <h4>{{mars_db.mars_news.title}}</h4>
                <div class="row" id="mars_news">
                    <p style="padding-left: 16px; padding-right: 16px;">{{mars_db.mars_news.paragraph}}</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-between" id="mars_news">

            <div class="col-md-6">
                <h4 class="text-center" style="border-radius: 5px; color: black; background-color:rgb(189, 108, 70);">
                    Featured Image of Mars:</h4>
                <div classs="col-md-6">
                    <img class="img-fluid float-left" src="{{mars_db.featured_img}}" alt="Featured Image of Mars"
                        style=" margin-bottom: 16px;">
                </div>
            </div>

            <div class="col-md-5 align-self-end">
                <h4 class="text-center" style="border-radius: 5px; color: black; background-color:rgb(189, 108, 70);">
                    Mars Facts:</h4>
                <div class="table table-striped">

                    {{mars_db.mars_facts | safe}}
                </div>
            </div>

        </div>
        <div class="row" style="border-radius: 5px; color: black; background-color:rgb(189, 108, 70);">
            <h3 class="col align-self-center">Mars Hemisphere Images:</h3>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img class="img-fluid img-thumbnail" src="{{mars_db.hemisphere_data[0].img_url}}"
                    style="margin-top: 15px; margin-bottom: 15px;">
                <div class="text-center" style="margin-top: auto; margin-bottom:auto;">
                    <h4>{{mars_db.hemisphere_data[0].title}}</h4>
                </div>
            </div>
            <div class="col-md-3">
                <img class="img-fluid img-thumbnail" src="{{mars_db.hemisphere_data[1].img_url}}"
                    style="margin-top: 15px; margin-bottom: 15px;">
                <div class="text-center" style="margin-top: auto; margin-bottom:auto;">
                    <h4>{{mars_db.hemisphere_data[0].title}}</h4>
                </div>
            </div>
            <div class="col-md-3">
                <img class="img-fluid img-thumbnail" src="{{mars_db.hemisphere_data[2].img_url}}"
                    style="margin-top: 15px; margin-bottom: 15px;">
                <div class="text-center" style="margin-top: auto; margin-bottom:auto;">
                    <h4>{{mars_db.hemisphere_data[0].title}}</h4>
                </div>
            </div>
            <div class="col-md-3">
                <img class="img-fluid img-thumbnail" src="{{mars_db.hemisphere_data[3].img_url}}"
                    style="margin-top: 15px; margin-bottom: 15px;">
                <div class="text-center" style="margin-top: auto; margin-bottom:auto;">
                    <h4>{{mars_db.hemisphere_data[0].title}}</h4>
                </div>
            </div>


        </div>
</body>

</html>